.InputWithLabel {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    &__input {
        border-bottom: 2px solid var(--main-color);
        padding-left: 0.5rem;
        color: white;
        background-color: inherit;

    }

    &__label {
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--main-color);
    }
}