.Landing {
	margin: auto;
	padding: 2rem;
	width: 75.09%;
	height: 71%;
	background-color: var(--dark-bg-color);
 	box-shadow: var(--card-shadow); 
	border-radius: 3px;

	&__nav {
		height: 19.31%;
		text-align: right;

		& a {
			text-decoration: none;
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__img {
		width: 36%;
		object-fit: contain;
	}

	@media only screen and (max-width: 700px){
		width: 90vw;	
	}
}
