.Landing {
	//DEFAULTS
	--twelve-column-grid: repeat(12, 1fr);
	--divider-width: clamp(1400px, 90vw, 1700px);
	--section-height: 80vh;
	color: white;
	font-size: clamp(1rem, 1.35vw, 1.7rem);
	overflow-y: auto;

	h1,
	h2 {
		font-size: 1.3em;
		font-weight: 800;
		margin: 0;
	}

	h3 {
		font-weight: 600;
	}

	section {
		align-content: center;
		display: grid;
		grid-template-columns: var(--twelve-column-grid);
		min-height: var(--section-height);
		padding: 2em 5vw;
	}

	.cta {
		display: grid;
		grid-row-gap: 2em;
		grid-column: span 4;
	}

	.divider-bg {
		background-position-y: bottom -110px;
		background-position-x: center;
		background-size: var(--divider-width), auto;
		background-repeat: no-repeat;
	}

	.media {
		grid-column: span 7;
		grid-column-end: -1;
	}

	//LAYOUT
	& .Navbar {
		background-color: #ffffffe3;
		border-radius: 3px;
		box-shadow: var(--card-shadow);
		position: fixed;
		right: 5%;
		top: 16px;

		& a {
			color: var(--dark-bg-color);
			padding: 1em;
			font-weight: 700;

			&:hover,
			:focus {
				border-bottom: 0.2em solid var(--light-bg-color);
			}
		}
	}

	& .section1 {
		align-self: stretch;
		background-color: var(--dark-bg-color);
		padding-bottom: 0;
		padding-right: 0;
		padding-top: 0;

		&__logo {
			width: 70%;
		}

		&__cta {
			align-self: center;
			& a {
				justify-self: start;
			}
		}

		&__collage {
			grid-column: 6 / -1;
			height: var(--section-height);
			object-fit: cover;
			object-position: 0 0;
			width: 100%;
		}
	}

	.section2 {
		background-image: url('./assets/divider_white.png');
		background-color: var(--gunmetal-color);

		&__acronym {
			font-size: 1.1em;
			grid-row-gap: 1em;
			justify-self: end;
			& .hl {
				color: var(--main-color);
			}
		}

		&__hexagons {
			display: flex;
			gap: 2em;
			justify-content: space-around;
		}

		& .hexagon {
			align-content: center;
			display: grid;
			grid-row-gap: 1.5em;
			justify-content: center;
			justify-items: center;

			& img {
				width: 100%;
			}

			& p {
				font-weight: 650;
			}
		}
	}

	.section3 {
		background-color: #fff;
		background-image: url('./assets/divider_dark.png');
		color: var(--dark-bg-color);

		&__cta {
			align-content: start;
			grid-row-gap: 1em;
			justify-self: end;
			text-align: right;
		}

		&__offer {
			width: 100%;
		}

		&__carousel {
			align-items: center;
			display: flex;
			justify-content: space-around;

			& img {
				width: 17%;
			}
		}
	}

	.section4 {
		align-items: center;
		background-color: var(--dark-bg-color);
		background-image: url('./assets/divider_pink.png');
		display: grid;
		justify-content: center;

		&__carousel {
			grid-column: 1 / 6;
			max-width: 100%;
		}

		&__cta {
			grid-column: 7 / -1;
		}
	}

	.section5 {
		align-items: center;
		background-color: var(--main-color);

		&__cta {
			justify-self: end;
			text-align: right;
		}

		img {
			width: unquote('min(1000px, 100%)');
		}
	}

	.final-cta {
		align-content: center;
		background-color: var(--light-bg-color);
		display: grid;
		grid-gap: 1em;
		justify-content: center;
		min-height: calc(var(--section-height) / 2);
		text-align: center;

		a {
			justify-self: center;
		}
	}

	& .Footer__content {
		padding: 0 5vw;
		font-size: unquote('max(.8em, 12px)');
		width: 100%;

		& .icon {
			font-size: 1.5em;
		}
	}

	@media screen and (max-width: 600px) {
		section {
			grid-template-columns: 1fr;
			grid-row-gap: 1.5em;
			justify-items: center;
			justify-content: center;
		}

		.section1 {
			&__collage {
				display: none;
			}
		}

		.section2 {
			&__hexagons {
			}
		}

		.section5 {
			img {
				width: 90vw;
			}
		}
	}
}
