.Profile {
  display: flex;

  &__content {
    flex-direction: column;
    margin-left: 24px;
    margin-top: rem;

    &__liked-game {
      max-width: 51.62rem;
      height: 10.875rem;
      padding: 16px 24px 16px 16px;
      margin-top: 24px;
      display: flex;
      align-items: center;
      & > img {
        width: 10rem;
      }
      & > img + img{
        width: 5rem;
      }
    }
  }

  &__left-side {
    width: 251px;

    & h2 {
      margin-top: -1.7rem;
    }

    &__nav {
      font-size: 0.8rem;

      a {
        display: inline-block;
        text-decoration: none;
        padding-right: 15px;
        line-height: 1.4rem;
      }
    }

    &__info {
      font-size: 0.8rem;
      color: white;
      line-height: 1.4rem;
    }

    &__title {
      font-weight: 400;
      text-align: center;
      text-shadow: black 1px 1px;
    }
  }
}
