.UserCard {
    width: 251px;
    height: 470px;

    &__avatar {
        width: 250px;
        height: 170px;
        object-fit: cover;
    }

    &__body {
        padding: 0 1rem;
    }

    &__stats {
        margin-top: 1.5em;

        & + .UserCard__stats {
            margin-bottom: 1.5em;
        }

        & span {
            font-size: 2rem;
            font-family: 'lato';
            font-weight: 800;
            padding-right: 0.8rem;
        }
    }

    

    &__Link {
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }
}