.FillDetails {
	&__wrapper {
		color: white;
		margin: auto;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__title {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 33%;
	}

	&__progress {
		width: 100%;
		display: flex;
		align-items: center;

		&-bar {
			flex-grow: 1;
		}

		&-number {
			color: var(--main-color);
			font-weight: 800;
			font-size: 24px;
			margin-left: 1.5rem;
		}
	}

	&__footer {
		margin-left: auto;
		margin-right: auto;

		& a {
			text-decoration: none;
			margin-left: 1.5rem;
			margin-right: 1.5rem;

			&:hover {
				text-decoration: underline;
			}
		}

		button {
			font-size: 20px;
			font-weight: 800;

			&:hover {
				background-color: var(--main-color);
			}
		}
	}
}

.Form {
	height: 50%;
	&__title {
		text-align: center;
		color: var(--main-color);
	}

	&__options {
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	&__item {
		margin-bottom: 2rem;
		input {
			display: none;
		}

		label {
			color: var(--light-bg-color);
			border: 2px solid var(--light-bg-color);
			padding: 1.5rem 1.68rem;
			display: inline-block;
			text-transform: capitalize;

			&:hover {
				cursor: pointer;
				color: white;
			}
		}

		&--selected {
			background-color: var(--light-bg-color);
			color: var(--dark-bg-color) !important;
		}
	}

	&__page {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}

.ProgressBar {
	&__container {
		height: 1rem;
		width: 85%;
		border: 2px solid var(--main-color);
		border-radius: 6px;
	}

	&__content {
		height: 100%;
		background-color: var(--main-color);
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		transition: width 1.5s;
	}

	&__icon {
		font-size: 28px;
		padding: 0.5rem;
		background-color: var(--main-color);
		border-radius: 6px;
		margin-right: -2%;
	}
}

.social-media {
	display: flex;
	justify-content: space-between;

	&__item {
		display: flex;
		flex-direction: column;
		width: 20%;

		&:focus-within {
			.social-media__input {
				border-bottom: 2px solid var(--light-bg-color);
			}

			.social-media__icon {
				color: var(--light-bg-color);
			}
		}
	}

	&__icon {
		font-size: 60px;
		margin-bottom: 0.5rem;
	}

	&__input {
		border-bottom: 2px solid var(--main-color);
		color: white;
	}
}

.TextArea {
	padding: 1rem;
	box-sizing: border-box;
	width: 100%;
	min-height: 100px;
	background-color: var(--dark-bg-color);
	border: 2px solid var(--main-color);
	border-radius: 3px;
	color: white;

	&:focus {
		border: 2px solid var(--light-bg-color);
		outline: none;
	}
}

.input-image {
	margin: 0 auto;
	display: block;

	&::-webkit-file-upload-button {
		visibility: hidden;
	}

	&::before {
		content: 'Select avatar';
		display: inline-block;
		border: 1px solid #999;
		border-radius: 3px;
		padding: 5px 8px;
		outline: none;
		white-space: nowrap;
		-webkit-user-select: none;
		cursor: pointer;
	}

	&:hover::before {
		border-color: var(--light-bg-color);
	}

	&:active::before {
		background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
	}

	&__preview {
		width: 32%;
		object-fit: contain;
		padding: 1rem;
	}
}
