.FillDetails {
	&__wrapper {
		color: white;
		margin: auto;
		padding: 2rem;
		width: 75.09%;
		height: 71%;
		background-color: var(--dark-bg-color);
		box-shadow: var(--card-shadow);
		border-radius: 3px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__title {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 33%;
	}

	&__progress {
		width: 100%;
		display: flex;
		align-items: center;

		&-bar {
			flex-grow: 1;
		}

		&-number {
			color: var(--main-color);
			font-weight: 800;
			font-size: 24px;
			margin-left: 1.5rem;
		}
	}

	&__footer {
		margin-left: auto;
		margin-right: auto;

		& a {
			text-decoration: none;
			margin-left: 1.5rem;
			margin-right: 1.5rem;

			&:hover {
				text-decoration: underline;
			}
		}

		button {
			font-size: 20px;
			font-weight: 800;

			&:hover {
				background-color: var(--main-color);
			}
		}
	}
}

.Form {
	&__title {
		margin-bottom: 3.5rem;
		text-align: center;
		color: var(--main-color);
	}

	&__languages {
		&-list {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		input {
			display: none;
		}

		label {
			color: var(--light-bg-color);
			border: 2px solid var(--light-bg-color);
			padding: 1.5rem 1.68rem;
			display: inline-block;

			&:hover {
				cursor: pointer;
			}
		}

		&--selected {
			background-color: var(--light-bg-color);
			color: var(--dark-bg-color) !important;
		}
	}
}

.ProgressBar {
	&__container {
		height: 1rem;
		width: 85%;
		border: 2px solid var(--main-color);
		border-radius: 6px;
	}

	&__content {
		height: 100%;
		background-color: var(--main-color);
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__icon {
		font-size: 28px;
		padding: 0.5rem;
		background-color: var(--main-color);
		border-radius: 6px;
		margin-right: -2%;
	}
}
