.PlayerCardSmall {
    width: 214px;
    min-height: 343px;

    &__body {
        text-align: center;
    }

    &__avatar {
        width: 100%;
        height: 55.97%;
        max-height: 230px;
        object-fit: cover;
    }

    &__name {
        margin: 0.5rem 0;
        overflow-x:hidden
    }

    &__icon + .PlayerCardSmall__icon{
        margin-left: 0.5rem
    }

    &__profile-link {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
}