.Results {

	&__title {
		font-weight: 400;
		text-align: center;
		text-shadow: black 1px 1px;
  }

	&__main {
    flex-direction: column;

		margin-top: 2.3rem;
		& > *{
			margin-bottom: 2rem;
		}
	}

	&__aside {
    & .FooterSmall {
      padding-top: 0.5rem;
      border-top: 2px solid white;
    }
	}
}


.ResultsFilter {
    background-color: rgba( #2a2f3e, 0.5);
    margin-top: 10px;
    margin-bottom: 16px;
    box-shadow: var(--card-shadow);
    border-radius: 3px;
    border: 1px solid;
    border-color: var(--dark-bg-color);
    color: white;
    padding-bottom: 24px;

    & .DropDownFilter + .DropDownFilter{
        border-top: 1.5px solid white;
    }

    button {
        margin-left: 14px;
    }
    
}