.FilterBox {
    width: 250px;
    background-color: rgba( #2a2f3e, 0.5);
    margin-top: 24px;
    margin-bottom: 16px;
    box-shadow: var(--card-shadow);
    border-radius: 3px;
    border: 1px solid;
    border-color: var(--dark-bg-color);
    color: white;
    padding-bottom: 24px;

    button {
        margin-left: 14px;
    }
}