/* GENERAL */
:root {
	--dark-bg-color: #2a2f3e;
	--light-bg-color: #07c7c1;
	--main-color: #f56059;
	--gunmetal-color: rgba(42, 47, 62, 0.42);
	--platinum-color: rgb(232, 232, 232);
	--card-shadow: 0 4px 10px 0 #2a2f3e;
	--graph-shadow: 0 2px 6px #2a2f3e;
	--content-width: 1100px;

	font-family: 'Open Sans', sans-serif;
}

* {
	box-sizing: border-box;
}

/* ELEMENTS */

a {
	color: white;
	text-decoration: none;
}

a:hover,
a:focus {
	border-bottom: 0.125em solid;
}

button:hover {
	cursor: pointer;
}

b,
em {
	font-weight: 600;
}

body {
	margin: 0;
	color: var(--dark-bg-color);
}

input {
	border: none;
	font-size: 1rem;
	background-color: inherit;
}

input:focus {
	outline: none;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* SCROLLBAR */
* {
	scrollbar-color: var(--dark-bg-color) transparent;
}

*::-webkit-scrollbar {
	width: 12px;
}
*::-webkit-scrollbar-track {
	background: none;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--dark-bg-color);
	border-radius: 20px;
	border: 3px solid var(--dark-bg-color);
}
