.UserCardDetails {
	min-height: 34.9375rem;
	width: 16.6875rem;

	&__avatar {
		width: 100%;
		height: 10.81rem;
		object-fit: cover;
	}

	&__body {
		padding: 1.5rem 1rem 2.5rem;
	}

	&__title {
		margin-bottom: 0.5rem;
	}

	&__team {
		margin-bottom: 0.5rem;
	}

	&__languages {
		margin-top: 1rem;
		margin-bottom: 1.5rem;
	}

	&__games {
		margin-bottom: 1.5rem;
		height: 4rem;

		& img {
            height: 100%;
			width: 4rem;

			& + img {
				margin-left: 1rem;
			}
		}
	}

	&__link {
		margin-bottom: 1.5rem;
	}
}
