.FriendSuggestions {
    &__title {
        color: white;
        margin-bottom: 1.5rem;
        font-weight: 600;
    }

	&__container {
		display: flex;
		align-items: center;
	}
	&__list {
		width: 100%;
		display: flex;
		align-items: center;

		& .UserCardSmall {
			margin-right: 2.5rem;
        }
        
       
	}
	& button {
		height: 350px;
		width: 2.25rem;
		background-color: rgba(235, 235, 235, 0.55);
		border-radius: 3px;
		box-shadow: var(--card-shadow);
		border: none;
		outline: none;

		&:hover {
			background-color: rgba(235, 235, 235, 0.60);
		}
	}
}
