.Header {
	background-color: var(--dark-bg-color);

	&__content {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 1.5em;
		justify-content: space-between;
		margin: 1em auto;

		@media only screen and (max-width: 800px) {
			@supports not (gap: 1em) {
				.Navbar {
					padding: 1em 0;
				}

				.SearchBar__container {
					margin-top: 1em;
				}
			}
		}
	}

	&__logo {
		height: 47px;

		&-wrapper:hover {
			border: none;
		}
	}
}

.SearchBar__container {
	flex: 1 1 200px;
}
