.Header {
    height: 7.425vh;
    background-color: var(--dark-bg-color);

    &__content {
        max-width: var(--content-width);
        height: 100%;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: space-evenly;

        & img {
            width: 33%;
            height: 70%;
            object-fit: contain;
            object-position: left; 
        }
    }
}