.Footer {
    height: 8.55vh;
    background-color: var(--dark-bg-color);
    color: white;


    &__content {
        max-width: var(--content-width);
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav a{
        margin-right: 2.5em;
    }

    &__info {
        display: flex;
        align-items: baseline;

        & .SocialLinks {
            margin-left: 2rem;
            margin-right: 1rem;

            & svg {
                color: white;
            }
        }
    }
}
