.PlayerCardLong {
    max-width: 51.62rem;
    min-height: 11.75rem;
    display: flex;

    &__avatar {
        width: 11.87rem;
        object-fit: cover;
    }

    &__body {
        padding: 1rem 1.5rem;
        width: calc(51.62rem - 11.87rem);
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    &__title {
        margin-right: 0.5rem;
    }

    &__games-wrapper {
        margin-bottom: 1.5rem;
        min-height: 2.875rem;
    }

    &__game-icon {
        width: 45px;
        height: 45px;
    }

    &__footer {
         display: flex;
         justify-content: space-between;
         align-items: center;
    }
}