.App {
	&__container {
		background-size: cover;
		height: calc(92.575vh);
		display: flex;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__content {
		max-width: var(--content-width);
		padding-top: 3.5rem;
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 2.5rem;
		overflow-y: scroll;

		@media only screen and(min-width: 1100px) {
			min-width: var(--content-width);
		}
	}
}