.App {
	&__container {
		height: calc(92.575vh);
		display: flex;
	}

	&__content {
		max-width: var(--content-width);
		max-height: 50rem;
		padding-top: 3.5rem;
		margin-right: auto;
		margin-left: auto;
		overflow-y: scroll;
	}
}