@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html {
    --dark-bg-color: #2A2F3E;
    --light-bg-color: #07C7C1;
    --main-color: #F56059;
    --card-shadow: 0, 4px, 10px, #2A2F3E;
    --graph-shadow: 0, 2px, 6px, #2a2f3e;
    font-family: 'Open Sans', sans-serif;
}

b, em {
    font-weight: 600;
}

.legal {
    font-size: 0.875rem;
}

.title {
    font-size: 1.875rem;
}

.title--alt {
    font-size: 1.5;
    font-weight: 900;
}

.Card {
    border-color: var(--dark-bg-color);
    box-shadow: var(--card-shadow);
}