@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html {
    --dark-bg-color: #2A2F3E;
    --light-bg-color: #07C7C1;
    --main-color: #F56059;
    --card-shadow: 0 4px 10px 0 #2A2F3E;
    --graph-shadow: 0 2px 6px #2a2f3e;
    font-family: 'Open Sans', sans-serif;
}

html, body, #root, .App {
    min-height: 100vh;
}

body {
    margin: 0;
}

p {
    margin: 0;
}


b,
em {
    font-weight: 600;
}

a {
    color: white;
}

input {
    border: none;
    font-size: 1rem;
    background-color: inherit;
}

input:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', sans-serif;
}

.small {
    font-size: 0.875rem;
}

.title {
    font-size: 1.875rem;
}

.title--alt {
    font-size: 1.5;
    font-weight: 900;
}

.card {
    border-color: var(--dark-bg-color);
    box-shadow: var(--card-shadow);
    border-radius: 3px;
}