.Auth {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto 1fr;
	padding: 2rem;

	& form {
		align-self: center;
		grid-row: 2 / 3;
	}

	&__buttons {
		grid-column: 2 / -1;
		display: flex;

		& button {
			flex-grow: 1;
			text-decoration: none;
		}
	}

	&__img {
		object-fit: contain;
		place-self: center center;
		width: 69.55%;
	}

	@media screen and (max-width: 725px) {
		&__buttons, form {
			grid-column: span 2;
		}

		&__img {
			display: none;
		}
	}
}